<h3>{{ include.sport.name }}</h3>
<ul>
  {% if include.sport.date %}
    <li><i class="fa fa-calendar" aria-hidden="true"></i> Date: {{ include.sport.date | date: "%A, %B %e, %Y" }}</li>
  {% endif %}
  {% if include.sport.time %}
    <li><i class="fa fa-clock-o" aria-hidden="true"></i> Time: {{ include.sport.time | date: "%l:%M %Z" }}</li>
  {% endif %}
  {% if include.sport.location %}
    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{ include.sport.location }}</li>
  {% endif %}
  {% if include.sport.tickets %}
    <li><i class="fa fa-ticket" aria-hidden="true"></i> Status: {{ include.sport.tickets }}</li>
  {% endif %}
  {% if include.sport.status %}
    <li><i class="fa fa-question-circle-o" aria-hidden="true"></i> Status: {{ include.sport.status }}</li>
  {% endif %}
  {% if include.sport.result %}
    <li><i class="fa fa-flag-checkered" aria-hidden="true"></i> Result: {{ include.sport.result }}</li>
  {% endif %}
</ul>
{% if include.sport.changes %}
  <p>
    Changes: {{ include.sport.changes | markdownify}}
  </p>
{% endif %}
{% if include.sport.description %}
  <p>
    {{ include.sport.description | markdownify}}
  </p>
{% endif %}
{% if include.sport.score %}
  Score: 
  <ul>
    {% for team in include.sport.score %}
      <li>{{ team.team }}: {{ team.points }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% if include.sport.awards %}
  <p>
    {{ include.sport.awards | markdownify}}
  </p>
{% endif %}
{% if include.sport.tweet %}
  {{ include.sport.tweet }}
{% endif %}
