body {
  margin-top: 5rem;
}
:target:before, .thumbnail:before {
	content:"";
	display:block;
	height:50px; /* fixed header height*/
	margin:-50px 0 0; /* negative fixed header height */
}

// Scroll bar: http://stackoverflow.com/a/38118591/6820516
.marquee {
  width: 100%;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}
.marquee span {
  display: inline-block;
  padding-left: 100%;
  text-indent: 0;
  animation: marquee linear infinite;
  animation-delay: 5s;
}
<<<<<<< HEAD

=======
>>>>>>> master
@keyframes marquee {
  0% {
    transform: translate(10%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}


.table-editable {
  position: relative;
}

.table-remove {
  color: #700;
  cursor: pointer;
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}
