<section>
    <h2>{{announcement.title}}</h2>
    <ul>
      {% if announcement.date %}
        <li><i class="fa fa-calendar" aria-hidden="true"></i> Date: {{announcement.date}}</li>
      {% endif %}
      {% if announcement.time %}
        <li><i class="fa fa-clock-o" aria-hidden="true"></i> Time: {{announcement.time}}</li>
      {% endif %}
      {% if announcement.location %}
        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{announcement.location}}</li>
      {% endif %}
    </ul>
</section>
{% if announcement.picture %}
  <section>
    <img src="{{ site.github.url | replace_first:'http://','https://' }}/img/announcement/{% annoucement.picture %}" class="img-responsive" alt="{{announcement.picture-alt}}">
  </section>
{% endif %}
{% if announcement.video %}
  <section>
    <iframe src="{{announcement.video}}"></iframe>
  </section>
{% endif %}
{% if announcement.tweet %}
  <section>
    {{ announcement.tweet }}
  </section>
{% endif %}
{% if announcement.description %}
  <section>
    <p>
      {{ announcement.description | markdownify} }
    </p>
  </section>
{% endif %}
