<section>
    <h2>{{include.announcement.title}}</h2>
    <ul>
      {% if include.announcement.date %}
        <li><i class="fa fa-calendar" aria-hidden="true"></i> Date: {{include.announcement.date}}</li>
      {% endif %}
      {% if include.announcement.time %}
        <li><i class="fa fa-clock-o" aria-hidden="true"></i> Time: {{include.announcement.time}}</li>
      {% endif %}
      {% if include.announcement.location %}
        <li><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{include.announcement.location}}</li>
      {% endif %}
    </ul>
</section>
{% if include.announcement.picture %}
  <section>
    <img src="{{ site.github.url | replace_first:'http://','https://' }}/img/announcement/{% include.annoucement.picture %}" class="img-responsive" alt="{{include.announcement.picture-alt}}">
  </section>
{% endif %}
{% if include.announcement.video %}
  <section>
    <iframe src="{{include.announcement.video}}"></iframe>
  </section>
{% endif %}
{% if include.announcement.tweet %}
  <section>
    {{ include.announcement.tweet }}
  </section>
{% endif %}
{% if include.announcement.description %}
  <section>
    <p>
      {{ include.announcement.description | markdownify}}
    </p>
  </section>
{% endif %}
