{% if site.data.wordofthemonth %}
  {% if site.data.wordofthemonth.color %}
  <section data-background="{{ site.data.wordofthemonth.color }}">
  {% else %}
  <section>
  {% endif %}
    <section>
      <h2>Word of the Month: {{ site.data.wordofthemonth.word }}</h2>
      <p>
        {{ site.data.wordofthemonth.description }}
      </p>
    </section>
    {% if site.data.wordofthemonth.winners %}
      <section>
        <h3>Congratulations to: </h3>
        <ul class="fa-ul">
          {% for person in site.data.wordofthemonth.winners %}
            <li><i class="fa-li fa fa-trophy fa-fw" aria-hidden="true"></i>{{ person }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    {% if site.data.wordofthemonth.next %}
      <section>
        <h3>Next Word of the Month: {{ site.data.wordofthemonth.next }}</h3>
        <p>
          {{ site.data.wordofthemonth.nextdescription }}
        </p>
      </section>
    {% endif %}
  </section>
{% endif %}
{% if site.data.birthdays %}
  {% if site.data.birthdays.color %}
  <section data-background="{{ site.data.birthdays.color }}">
  {% else %}
  <section>
  {% endif %}
    <h2>Birthdays</h2>
    {% if site.data.birthdays.belated %}
      <section>
        <h3>Happy Belated Birthday to: </h3>
        <ul class="fa-ul">
          {% for person in site.data.birthdays.belated %}
            <li><i class="fa-li fa fa-birthday-cake fa-fw" aria-hidden="true"></i>{{ person }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    {% if site.data.birthdays.today %}
      <section>
        <h3>Happy Birthday to: </h3>
        <ul class="fa-ul">
          {% for person in site.data.birthdays.today %}
            <li><i class="fa-li fa fa-birthday-cake fa-fw" aria-hidden="true"></i>{{ person }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    {% if site.data.birthdays.weekend %}
      <section>
        <h3>Happy Weekend Birthday to: </h3>
        <ul class="fa-ul">
          {% for person in site.data.birthdays.weekend %}
            <li><i class="fa-li fa fa-birthday-cake fa-fw" aria-hidden="true"></i>{{ person }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    {% if site.data.birthdays.break %}
      <section>
        <h3>Happy {{ site.data.birthdays.breakname }} Birthday to: </h3>
        <ul class="fa-ul">
          {% for person in site.data.birthdays.break %}
            <li><i class="fa-li fa fa-birthday-cake fa-fw" aria-hidden="true"></i>{{ person }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
  </section>
{% endif %}