<h3>
  {% if include.sport.changes %}
    <span class="tag tag-warning">Changed</span> -
  {% endif %}
  {{ include.sport.title }}
</h3>
<section>
  <ul class="fa-ul">
    {% if include.sport.date %}
      <li><i class="fa-li fa fa-calendar fa-fw" aria-hidden="true"></i> Date: {{ include.sport.date | date: "%A, %B %e, %Y %l:%M%P %Z" }} (<time class="timeago" datetime="{{ include.sport.date | date_to_xmlschema }}">{{ include.sport.date | date: "%A, %B %e, %Y %l:%M%P %Z" }}</time>)</li>
    {% endif %}
    {% if include.sport.location %}
      <li><i class="fa-li fa fa-map-marker fa-fw" aria-hidden="true"></i> Location: {{ include.sport.location }}</li>
    {% endif %}
    {% if include.sport.tickets %}
      <li><i class="fa-li fa fa-ticket fa-fw" aria-hidden="true"></i> Tickets: {{ include.sport.tickets }}</li>
    {% endif %}
    {% if include.sport.status %}
      <li><i class="fa-li fa fa-question-circle-o fa-fw" aria-hidden="true"></i> Status: {{ include.sport.status }}</li>
    {% endif %}
    {% if include.sport.result %}
      <li><i class="fa-li fa fa-flag-checkered fa-fw" aria-hidden="true"></i> Result: {{ include.sport.result }}</li>
    {% endif %}
  </ul>
</section>
{% if include.sport.changes %}
  <section>
    <p>
      <strong>Changes:</strong> {{ include.sport.changes | markdownify | strip}}
    </p>
  </section>
{% endif %}
{% if include.sport.description %}
  <section data-autoslide="{{ include.sport.slidetime | defualt: 10000 }}">
    <p>
      {{ include.sport.description | markdownify | strip}}
    </p>
  </section>
{% endif %}
{% if include.sport.score %}
  <section>
    <p>Score:</p>
    <table>
      <tbody>
        <tr>
          <th>Team</th>
          <th>Points</th>
        </tr>
      </tbody>
      <tbody>
        {% for team in include.sport.score %}
          <tr>
            <td>{{ team.team }}</td>
            <td>{{ team.points }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endif %}
{% if include.sport.awards %}
  <section>
    <p>
      {{ include.sport.awards | markdownify | strip}}
    </p>
  </section>
{% endif %}
{% if include.sport.tweet %}
  <section>
    {{ include.sport.tweet }}
  </section>
{% endif %}
