{% capture output %}
<span class="label label-primary">Clubs</span> - {% for club in site.clubs %}
{% if club.enabled %}
{% if club.changes %}
  <span class="label label-warning">Changed</span> 
{% endif %}
{{ club.name }} (<i class="fa fa-calendar fa-fw" aria-hidden="true"></i>: {{ club.date | date: "%A, %B %e, %Y %l:%M %p" }}
{% if club.location %} - <i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>: {{ club.location }}{% endif %})
{% if club.changes %} - Changes: {{ club.changes | strip | strip_newlines }}{% endif %}
{% if club.description %} - Description: {{ club.description | strip | strip_newlines }}{% endif %}
 - {% endif %}
{% endfor %}
{% endcapture %}{{ output | strip_newlines }}
