<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-tag="Toggle navigation">
    &#9776;
  </button>
  <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
    {% if site.github.owner_gravatar_url %}
      <a class="navbar-brand" href="#">
        <img alt="Brand" src="{{ site.github.owner_gravatar_url }}" style="width: 20px; height: 20px; border-radius: 2px;">
      </a>
    {% endif %}
    {% if site.github.project_title %}
      <a class="navbar-brand" href="{{ site.github.url }}/index.html">{{ site.github.project_title }}</a>
    {% else %}
      <a class="navbar-brand" href="{{ site.github.url }}/index.html">{{ site.title }}</a>
    {% endif %}

    <ul class="nav navbar-nav nav-inline">
      <li class="nav-item">
        <a class="nav-link active" href="{{ site.github.url }}">Home</a>
      </li>
      {% for link in site.data.header %}
        {% include navbarlink.html link=link %}
      {% endfor %}
    </ul>
  </div>
</nav>

<div class="container">
  {% if site.alert %}
    <div class="sitealerts">
      <div class="alert alert-warning" role="alert">{{ site.alert }}</div>
    </div>
  {% endif %}
