{% if include.announcement.enabled %}
<tr class="success">
{% elsif %}
<tr class="danger">
{% endif %}
  <th>{{ include.announcement.title }}</th>
  <td>{{ include.announcement.date | date: "%A, %B %e, %Y" }}</td>
  <td>{{ include.announcement.time | date: "%l:%M %Z" }}</td>
  <td>{{ include.announcement.location }}</td>
  <td>{{ include.announcement.changes | markdownify}}</td>
  <td><a href="{{ site.github.url | replace_first:'http://','https://' }}/img/announcement/{{ include.annoucement.picture }}">{{ site.github.url | replace_first:'http://','https://' }}/img/announcement/{{ include.annoucement.picture }}</a></td>
  <td>{{ include.announcement.picture-alt }}</td>
  <td><a href="{{ include.announcement.video }}">{{ include.announcement.video }}</a></td>
  <td>{{ include.announcement.tweet }}</td>
  <td>{{ include.announcement.description | markdownify}}</td>
  <td>{{ include.announcement.extendeddescription | markdownify }}</td>
</tr>
