{% if include.club.enabled != true %}
<tr class="danger">
{% elsif include.club.enabled %}
<tr class="success">
{% else %}
<tr>
{% endif %}
  <th><a href="{{ include.club.url }}">{{ include.club.name }}</a></th>
  <td>{{ include.club.dates }}</td>
  <td>{{ include.club.nextdate | default: "" | date: "%A, %B %e, %Y" }}</td>
  <td>{{ include.club.time | default: "" | date: "%l:%M %Z" }}</td>
  <td>{{ include.club.location }}</td>
  <td><a href="{{ include.club.website }}">{{ include.club.website }}</a></td>
  <td>
    {% if include.club.twitter %}
      <a href="https://twitter.com/{{ include.club.twitter }}">@{{ include.club.twitter }}</a>
    {% endif %}
  </td>
  <td>
    {% if include.club.facebook %}
      <a href="{{ include.club.facebook }}">{{ include.club.facebook }}</a>
    {% endif %}
  </td>
  <td>
    {% if include.club.remind %}
      <a href="https://remind.com/join/{{ include.club.remind }}">@{{ include.club.remind }}</a>
    {% endif %}
  </td>
  <td>{{ include.club.changes | default: "" | markdownify | rstrip}}</td>
  <td>{{ include.club.description | default: "" | markdownify | rstrip}}</td>
</tr>