<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <td>Date</td>
        <td>Time</td>
        <td>Location</td>
        <td>Tickets</td>
        <td>Status</td>
        <td>Result</td>
        <td>Changes</td>
        <td>Description</td>
        <td>Score</td>
        <td>Awards</td>
        <td>Tweet</td>
      </tr>
    </thead>
    <tbody>
      {% for sport in site.sports %}
        {% include admin/sport.html sport=sport %}
      {% endfor %}
	  </tbody>
  </table>
</div>
