{% if include.sport.enabled != true %}
<tr class="danger">
{% elsif include.sport.enabled %}
<tr class="success">
{% else %}
<tr>
{% endif %}
  <th><a href="{{ include.sport.url }}">{{ include.sport.name }}</a></th>
  <td>{{ include.sport.date | default: "" | date: "%A, %B %e, %Y" }}</td>
  <td>{{ include.sport.time | default: "" | date: "%l:%M %Z" }}</td>
  <td>{{ include.sport.location }}</td>
  <td>{{ include.sport.tickets }}</td>
  <td>{{ include.sport.status }}</td>
  <td>{{ include.sport.result }}</td>
  <td>{{ include.sport.changes | default: "" | markdownify}}</td>
  <td>{{ include.sport.description | default: "" | markdownify}}</td>
  <td>
    <table class="table table-condensed table-hover">
      {% for team in include.sport.score %}
        <tbody>
          <tr>
            <th>Team</th>
            <th>Points</th>
          </tr>
        </tbody>
        <tbody>
          <tr>
            <td>{{ team.team }}</td>
            <td>{{ team.points }}</td>
          </tr>
        </tbody>
      {% endfor %}
    </table>
  </td>
  <td>{{ include.sport.awards | default: "" | markdownify}}</td>
  <td>{{ include.sport.tweet }}</td>
</tr>